@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@400;600;700&display=swap");


:root {
  --main-btn-bg-color: #f5f5f5;
  --main-btn-hover-bg-color: hsl(0, 0%, 86%);
  --results-btn-bg-color: #f5f5f5;
  --results-btn-hover-bg-color: hsl(0, 0%, 86%);
  --btn-border-radius: 15px;
  --box-shadow-color: rgb(44, 44, 44);
  --primary-bg-color: #3298dc;
}

/* alternative colors */
/* :root {
  --main-btn-bg-color: #E8DB7D;
  --main-btn-hover-bg-color: hsl(165, 31%, 37%);
  --results-btn-bg-color: #f5f5f5;
  --results-btn-hover-bg-color: hsl(0, 0%, 86%);
  --btn-border-radius: 15px;
  --box-shadow-color: rgb(44, 44, 44);
  --primary-bg-color: #231123;
} */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "KoHo", sans-serif;
    line-height: 1.5rem;}
  
  .header {
    align-items: center;
    justify-content: center;
    background-color: var(--primary-bg-color);
    height: 150px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    background-color: var(--primary-bg-color);
  }

  .main-frame {
    background-color: var(--primary-bg-color);
  }

  .scrollable {
    max-width: 100%;
    height: 60vh;
   overflow-x: auto;
  }

  h3 {
    font-weight: 600;
  }

  #resultBtnDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
  }

  #submit-btn,
  #symbol-search-btn {
    background-color: var(--main-btn-bg-color);
    border-radius: var(--btn-border-radius);
    box-shadow: 0px 2px 2px var(--box-shadow-color);
  }
  
  #symbol-search-btn:hover,
  #submit-btn:hover {
    background-color: var(--main-btn-hover-bg-color);
  }

  .result-btn {
    font-weight: 600;
    width: 44%;
    height: 30px;
    border-radius: var(--btn-border-radius);
    background-color: var(--results-btn-bg-color);
    box-shadow: 0px 2px 2px var(--box-shadow-color);
  }

  .result-btn:hover {
    background-color: var(--results-btn-hover-bg-color)
  }
