@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "KoHo", sans-serif;
  line-height: 1.5rem;
}

header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  width: 100%;
  text-align: center;
}

header h1 {
  margin-bottom: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: chocolate;
}

aside {
  display: flex;
  flex-direction: column;
  flex: 3;
  margin: auto 20px;
  padding: 40px;
  align-items: center;
  background-color: cadetblue;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: auto;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: antiquewhite;
  text-align: center;
}

.form-label {
  margin-bottom: 10px;
  margin-top: 20px;
}

.form-input {
  margin-bottom: 20px;
}

input {
  width: 85%;
  border-radius: 7px;
  height: 30px;
  margin: auto;
  padding-left: 10px;
}

select {
  width: 85%;
  border-radius: 7px;
  height: 30px;
  margin: auto;
  padding-left: 10px;
}

#submit-btn {
  margin: 20px auto;
  width: 90px;
  height: 35px;
  border-radius: 12px;
}

#submit-btn:hover {
  cursor: pointer;
  background-color: #ccc;
}

main {
  display: flex;
  flex: 5;
  margin: auto 20px;
  display: flex;
  flex-direction: column;
  padding: 40px 10px;
}

main h3 {
  display: inline-block;
}

.results {
  height: 80vh;
  overflow-y: auto;
  width: 95%;
  border: 6px solid black;
  padding: 30px;
  border-radius: 10px;
}

.result {
  margin-bottom:50px;
}